.headerAdmin {
    background-color: #15683b;
    color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 250px;
    width: 93%;
    margin-left: -4.5%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 999 !important;
    
  }
  
  
  /* Large screens (1441px+) */
@media screen and (min-width: 1441px) {
  .header-admin {
    padding: 1.5rem 4rem;
    width: 100%;
  }

}

/* Medium screens (1024px-1440px) */
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .header-admin {
    padding: 1rem 3rem;
    width: 80%;
  }

}
