.headerAdmin {
    background-color: #15683b;
    color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 250px;
    width: 88%;
    margin-left: -6%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .header-search {
    display: flex;
    align-items: center;
  }
  
  .search-input {
    height: 35px;
    padding: 0 10px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .search-button {
    background-color: #1dd056;
    color: #fff;
    border: none;
    height: 35px;
    width: 38px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .header-actions {
    display: flex;
    align-items: center;
  }
  
  .action-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    margin: 0 10px;
    cursor: pointer;
  }
  
  .profile-icon {
    background-color: #5a67d8;
    color: #fff;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
  }
  