/* Estilos generales para el contenedor */
.nuevo-producto-wrapper {
    width: 850px;
    margin: 0 auto;
    padding: 25px;
    margin-left: 400px;
    font-family: Comfortaa, Georgia, 'Times New Roman', Times, serif;
    background-color: #4CAF50;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

/* Cabecera */
h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
    font-weight: bold;
}
/* Estilo de las imágenes del producto */
.imagenes-producto-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
    gap: 20px;
}

.image-selector-button {
    padding: 50px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 180px;
    text-align: center;
}
.image-selector-button:hover {
    background-color: #45a049;
}

/* Estilos de las filas de formulario */
.form-row-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 30px;
}

.input-field-container {
    width: 100%; /* Ocupa todo el ancho disponible */
}

/* Ajustes para mejorar la visualización de los selectores */
.input-field-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
/* Ajustes en los inputs, selects y textareas */
.input-field-container input,
.input-field-container select,
.input-field-container textarea {
    width: 100%;
    padding: 15px; /* Aumentar el padding para mayor comodidad */
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}
/* El textarea debe seguir con la altura definida */
.input-field-container textarea {
    height: 100px;
    resize: vertical;
}

/* Estilos para los botones de acción */
.form-action-buttons {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 50px;
    transform: translateY(-20px);
}
.publish-product-button,
.save-draft-button {
    padding: 20px 30px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    transform: translateX(120px);
    cursor: pointer;
    width: 200px; /* Asegura un tamaño consistente en los botones */
    margin-left: 30px;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.publish-product-button {
    background-color: #4CAF50;
    color: white;
}

.publish-product-button:hover {
    background-color: #45a049;
}
.save-draft-button {
    background-color: #ff9800;
    color: white;
}

.save-draft-button:hover {
    background-color: #f57c00;
}
/* Estilo general de los botones */
button {
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
/* Estilo general del formulario */
form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Asegurarse que los botones están alineados correctamente */
.form-buttons {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}
