/* Estilos generales para el contenedor */
.nuevo-producto-wrapper {
    width: 850px;
    margin: 0 auto;
    padding: 25px;
    margin-left: 100px;
    font-family: Comfortaa, Georgia, 'Times New Roman', Times, serif;
    background-color: #4CAF50;
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-top: 100px;
}

/* Cabecera */
h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
    font-weight: bold;
}


/* Estilos de las filas de formulario */
.form-row-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 30px;
    padding: auto;
}

.input-field-container {
    width: 100%; /* Ocupa todo el ancho disponible */
}

/* Ajustes para mejorar la visualización de los selectores */
.input-field-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #000000;
}
/* Ajustes en los inputs, selects y textareas */
.input-field-container input,
.input-field-container select,
.input-field-container textarea {
    width: 100%;
    padding: 15px; /* Aumentar el padding para mayor comodidad */
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: white;
    color:#333
}
/* El textarea debe seguir con la altura definida */
.input-field-container textarea {
    height: 100px;
    resize: vertical;
}

/* Estilos para los botones de acción */
.form-action-buttons {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 50px;
    transform: translateX(450px);
}

.publish-product-button {
    background-color: #4CAF50;
    color: white;
}

.publish-product-button:hover {
    background-color: #45a049;
}
.save-draft-button {
    background-color: #ff9800;
    color: white;
}

.save-draft-button:hover {
    background-color: #f57c00;
}
/* Estilo general de los botones */
button {
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
/* Estilo general del formulario */
form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Asegurarse que los botones están alineados correctamente */
.form-buttons {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

/* Estilos para el subtítulo Agregar Imagen */
.form-row-container .input-field-container h3 {
    font-size: 1rem; 
    font-weight: bold; 
    color: #000000; 
    margin-bottom: 12px; 
    
  }
  