/* Desktop (2500px - 2560px) */
@media (min-width: 2500px)  and (max-width: 2560px) {
.nuevo-producto-wrapper {
    width: 1000px; /* Ajuste para pantallas medianas grandes */
    margin-top: 120px;
    margin-bottom: 30px;
}
.publish-product-button,
.save-draft-button {
    transform: translateX(50px);
    width: 200px; /* Asegura un tamaño consistente en los botones */
    margin-left: -200px;
    
}
}
 

/* Desktop (2001px - 2500px) */
@media (min-width: 2001px) and (max-width: 2449px) {
    .nuevo-producto-wrapper {
        width: 1000px; /* Ajuste para pantallas medianas grandes */
        margin-top: 120px;
        margin-bottom: 30px;
    }
    .publish-product-button,
.save-draft-button {
    transform: translateX(50px);
    width: 200px; /* Asegura un tamaño consistente en los botones */
    margin-left: -200px;
    
}
}

/* Desktop (1951px - 2000px) */
@media (min-width: 1951px) and (max-width: 2000px) {
    .nuevo-producto-wrapper {
        width: 1000px; /* Ajuste para pantallas medianas grandes */
        margin-top: 120px;
        margin-bottom: 30px;
    
    }
    .publish-product-button,
.save-draft-button {
    transform: translateX(50px);
    width: 200px; /* Asegura un tamaño consistente en los botones */
    margin-left: -200px;
    
}
}

/* Desktop (1921px - 1950px) */
@media (min-width: 1921px) and (max-width: 1950px) {
    .nuevo-producto-wrapper {
        width: 1000px; /* Ajuste para pantallas medianas grandes */
        margin-top: 120px;
        margin-bottom: 30px;
    }
    .publish-product-button,
.save-draft-button {
    transform: translateX(50px);
    width: 200px; /* Asegura un tamaño consistente en los botones */
    margin-left: -200px;
    
}
}

/* Desktop (1801px - 1919px) */
@media (min-width: 1801px) and (max-width: 1920px) {
    .nuevo-producto-wrapper {
        width: 1000px; /* Ajuste para pantallas medianas grandes */
        margin-top: 120px;
        margin-bottom: 30px;
    }
    
.publish-product-button,
.save-draft-button {
    transform: translateX(50px);
    width: 200px; /* Asegura un tamaño consistente en los botones */
    margin-left: -200px;
    
}
}


/* Desktop (1650px - 1800px) */
@media (min-width: 1650px) and (max-width: 1800px) {
    .nuevo-producto-wrapper {
        width: 1000px; /* Ajuste para pantallas medianas grandes */
        margin-top: 120px;
        margin-left: 20px;
        margin-bottom: 30px;
    }
    .publish-product-button,
.save-draft-button {
    transform: translateX(50px);
    width: 200px; /* Asegura un tamaño consistente en los botones */
    margin-left: -200px;
    
}
}


/* Desktop (1441px - 1650px) */
@media (min-width: 1441px) and (max-width: 1650px) {
    .nuevo-producto-wrapper {
        width: 850px; /* Ajuste para pantallas medianas grandes */
        margin-top: 120px;
        margin-left: 0px;
    }
    .publish-product-button,
.save-draft-button {
    transform: translateX(50px);
    width: 200px; /* Asegura un tamaño consistente en los botones */
    margin-left: -200px;
    
}
}

/* Laptops (1024px - 1400px) */
@media (min-width: 1025px) and (max-width: 1440px) {
    .nuevo-producto-wrapper {
        width: 850px; /* Ajuste para pantallas medianas grandes */
        margin-top: 120px;
        margin-left:350px;
    }
    .publish-product-button,
.save-draft-button {
    transform: translateX(50px);
    width: 200px; /* Asegura un tamaño consistente en los botones */
    margin-left: -200px;
    
}
}

/* Tablets (768px - 1023px) */
@media (min-width: 769px) and (max-width: 1024px) {
    .nuevo-producto-wrapper {
        width: 850px; /* Ajuste para pantallas medianas grandes */
        margin-top: 120px;
        margin-left:600px;
    }
    .publish-product-button,
.save-draft-button {
    transform: translateX(50px);
    width: 200px; /* Asegura un tamaño consistente en los botones */
    margin-left: -200px;
    
}
}

/* Responsivo para pantallas entre 425px y 767px */
@media (min-width: 425px) and (max-width: 769px) {
    .nuevo-producto-wrapper {
        width: 650px; /* Ajuste para pantallas medianas grandes */
        margin-top: 120px;
        margin-left:690px;
    }
    .publish-product-button,
.save-draft-button {
    transform: translateX(50px);
    width: 200px; /* Asegura un tamaño consistente en los botones */
    margin-left: -200px;
    
}
}

/* Pantallas entre 424px y 375px */
@media (min-width: 375px) and (max-width: 425px) {
    .nuevo-producto-wrapper {
        width: 650px; /* Ajuste para pantallas medianas grandes */
        margin-top: 120px;
        margin-left:800px;
    }
    .publish-product-button,
.save-draft-button {
    transform: translateX(50px);
    width: 200px; /* Asegura un tamaño consistente en los botones */
    margin-left: -200px;
    
}
}

/* Pantallas entre 374px y 320px */
@media (min-width: 320px) and (max-width: 375px) {
    .nuevo-producto-wrapper {
        width: 650px; /* Ajuste para pantallas medianas grandes */
        margin-top: 120px;
        margin-left:1050px;
    }
    .publish-product-button,
.save-draft-button {
    transform: translateX(50px);
    width: 200px; /* Asegura un tamaño consistente en los botones */
    margin-left: -200px;
    
}
}
