.filtro-container {
    padding: 1rem;
    background-color: #1f804c; /* Fondo verde oscuro */
    color: #e5ffe5; /* Texto claro en tono verde */
    border-radius: 10px;
    width: 200px;
    transform:translateY(470px);
    margin-left: 15px;
    font-family: Comfortaa, Georgia, 'Times New Roman', Times, serif;
  }
  
  .filtro-container h3{
    margin-bottom: 1rem;
    color: #ffffff;
    font-family: Comfortaa, Georgia, 'Times New Roman', Times, serif;
    margin-left: 20%;

  }
  .filtro-container h4{
    margin-bottom: 1rem;
    color: #161515;
    font-family: Comfortaa, Georgia, 'Times New Roman', Times, serif;
    margin-left: -3%;
    transform: translateY(20px);
    font-weight: bold; /* Puedes hacerlo negrita si lo deseas */

  }
  
  .filtro-radio {
    margin-bottom: 0.5rem;
  }
  
  /* Cambiar color de los labels dentro del contenedor del filtro */
.filtro-container label {
  color: #f3f6f8; /* Cambia este color al que desees, por ejemplo, un azul */
  font-size: 1rem; /* Ajusta el tamaño de la fuente */
  transition: color 0.3s ease; /* Efecto de transición al cambiar de color */
}
  
  input[type="checkbox"],
  input[type="radio"] {
    margin-left: 35%;
    transform: translateY(22px);
    accent-color: #4ade80; /* Personalización del color del input */
  }
  
  input[type="checkbox"]:hover,
  input[type="radio"]:hover {
    filter: brightness(1.2); /* Efecto de brillo al pasar el ratón */
  }
  /* Estilo para cada grupo de opciones dentro del filtro */
.filtro-precios, .filtro-descuentos {
  margin-bottom: 0.5rem; /* Añadimos un margen más amplio */
  padding: 1rem; /* Padding para separarlo más */
  background-color: #2a7c53; /* Fondo verde claro */
  border-radius: 10px;
  border: 2px solid #4ade80; /* Borde verde */
}

/* Estilo para un input al estar seleccionado (con el foco) */
input[type="radio"]:checked,
input[type="checkbox"]:checked {
  background-color: #4ade80; /* Verde claro al estar seleccionado */
  border-color: #4ade80; /* Cambia el borde del input */
}





