.filtro-container {
    padding: 1rem;
    background-color: #1f804c; /* Fondo verde oscuro */
    color: #e5ffe5; /* Texto claro en tono verde */
    border-radius: 10px;
    width: 200px;
    transform:translateY(200px);
    margin-left: 15px;
    font-family: Comfortaa, Georgia, 'Times New Roman', Times, serif;
  }
  
  .filtro-container h3{
    margin-bottom: 1rem;
    color: #ffffff;
    font-family: Comfortaa, Georgia, 'Times New Roman', Times, serif;
    margin-left: 20%;

  }
  .filtro-container h4{
    margin-bottom: 1rem;
    color: #161515;
    font-family: Comfortaa, Georgia, 'Times New Roman', Times, serif;
    margin-left: -3%;
    transform: translateY(20px);
    font-weight: bold; /* Puedes hacerlo negrita si lo deseas */

  }
  
  .filtro-radio {
    margin-bottom: 0.5rem;
  }
  
  /* Cambiar color de los labels dentro del contenedor del filtro */
.filtro-container label {
  color: #f3f6f8; /* Cambia este color al que desees, por ejemplo, un azul */
  font-size: 1rem; /* Ajusta el tamaño de la fuente */
  transition: color 0.3s ease; /* Efecto de transición al cambiar de color */
}
  
  input[type="checkbox"],
  input[type="radio"] {
    margin-left: 35%;
    transform: translateY(22px);
    accent-color: #4ade80; /* Personalización del color del input */
  }
  
  input[type="checkbox"]:hover,
  input[type="radio"]:hover {
    filter: brightness(1.2); /* Efecto de brillo al pasar el ratón */
  }
  /* Estilo para cada grupo de opciones dentro del filtro */
.filtro-precios, .filtro-descuentos {
  margin-bottom: 0.5rem; /* Añadimos un margen más amplio */
  padding: 1rem; /* Padding para separarlo más */
  background-color: #2a7c53; /* Fondo verde claro */
  border-radius: 10px;
  border: 2px solid #4ade80; /* Borde verde */
}

/* Estilo para un input al estar seleccionado (con el foco) */
input[type="radio"]:checked,
input[type="checkbox"]:checked {
  background-color: #4ade80; /* Verde claro al estar seleccionado */
  border-color: #4ade80; /* Cambia el borde del input */
}

/* Menú Hamburguesa */
.menu-hamburguesa-container {
  display: none; /* Oculto por defecto */
  position: fixed;
  top: 10px;
  right: 270px;
  z-index: 1000;
  transform: translateY(70px);
}

.menu-hamburguesa {
  background-color: #1f804c;
  color: #ffffff;
  border: none;
  padding: 0.5rem 0.5rem;
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  
}

/* Estilos para el Filtro */
.filtro-container {
  display: none; /* Oculto por defecto */
  position: fixed;
  top: 60px;
  right: 10px;
  background-color: #1f804c;
  padding: 1rem;
  border-radius: 10px;
  z-index: 999;
  width: 80%;
}

.filtro-container.visible {
  display: block; /* Mostrar cuando el estado es visible */
}

/* Responsive */
/* Para pantallas menores de 320px */
@media screen and (max-width: 320px) {
  .menu-hamburguesa-container {
    display: block;
    position: fixed;
    top: 10px;
    right: 260px;
    z-index: 1000;
    transform: translateY(70px);
  }
}
/* Pantallas de 321px a 335px */
@media (min-width: 321px) and (max-width: 335px) {
  .menu-hamburguesa-container {
    display: block;
    position: fixed;
    top: 10px;
    right: 270px;
    z-index: 1000;
    transform: translateY(70px);
  }
  
}
/* Pantallas de 321px a 330px */
@media (min-width: 335px) and (max-width: 340px) {
  .menu-hamburguesa-container {
    display: block;
    position: fixed;
    top: 10px;
    right: 280px;
    z-index: 1000;
    transform: translateY(70px);
  }
  
}
/* Pantallas de 341px a 350px */
@media (min-width: 341px) and (max-width: 350px) {
  .menu-hamburguesa-container {
    display: block;
    position: fixed;
    top: 10px;
    right: 290px;
    z-index: 1000;
    transform: translateY(70px);
  }
  
}
/* Pantallas de 350px a 360px */
@media (min-width: 350px) and (max-width: 360px) {
  .menu-hamburguesa-container {
    display: block;
    position: fixed;
    top: 10px;
    right: 300px;
    z-index: 1000;
    transform: translateY(70px);
  }
  
}
/* Pantallas de 350px a 360px */
@media (min-width: 361px) and (max-width: 370px) {
  .menu-hamburguesa-container {
    display: block;
    position: fixed;
    top: 10px;
    right: 310px;
    z-index: 1000;
    transform: translateY(70px);
  }
  
}
/* Pantallas de 350px a 360px */
@media (min-width: 370px) and (max-width: 376px) {
  .menu-hamburguesa-container {
    display: block;
    position: fixed;
    top: 10px;
    right: 320px;
    z-index: 1000;
    transform: translateY(70px);
  }
  
}
/* Pantallas de 350px a 360px */
@media (min-width: 377px) and (max-width: 390px) {
  .menu-hamburguesa-container {
    display: block;
    position: fixed;
    top: 10px;
    right: 330px;
    z-index: 1000;
    transform: translateY(70px);
  }
  
}
/* Pantallas de 350px a 360px */
@media (min-width: 390px) and (max-width: 405px) {
  .menu-hamburguesa-container {
    display: block;
    position: fixed;
    top: 10px;
    right: 340px;
    z-index: 1000;
    transform: translateY(70px);
  }
  
}

/* Pantallas de 350px a 360px */
@media (min-width: 405px) and (max-width: 415px) {
  .menu-hamburguesa-container {
    display: block;
    position: fixed;
    top: 10px;
    right: 350px;
    z-index: 1000;
    transform: translateY(70px);
  }
  
}
/* Pantallas de 350px a 360px */
@media (min-width: 414px) and (max-width: 425px) {
  .menu-hamburguesa-container {
    display: block;
    position: fixed;
    top: 10px;
    right: 360px;
    z-index: 1000;
    transform: translateY(70px);
  }
  
}

/* Pantallas de 350px a 360px */
@media (min-width: 425px) and (max-width: 450px) {
  .menu-hamburguesa-container {
    display: block;
    position: fixed;
    top: 10px;
    right: 380px;
    z-index: 1000;
    transform: translateY(70px);
  }
  
}
/* Pantallas de 350px a 360px */
@media (min-width: 450px) and (max-width: 470px) {
  .menu-hamburguesa-container {
    display: block;
    position: fixed;
    top: 10px;
    right: 400px;
    z-index: 1000;
    transform: translateY(70px);
  }
  
}
/* Pantallas de 350px a 360px */
@media (min-width: 470px) and (max-width: 500px) {
  .menu-hamburguesa-container {
    display: block;
    position: fixed;
    top: 10px;
    right: 430px;
    z-index: 1000;
    transform: translateY(70px);
  }
  
}

/* Pantallas de 350px a 360px */
@media (min-width: 501px) and (max-width: 520px) {
  .menu-hamburguesa-container {
    display: block;
    position: fixed;
    top: 10px;
    right: 450px;
    z-index: 1000;
    transform: translateY(70px);
  }
}

/* Pantallas de 350px a 360px */
@media (min-width: 521px) and (max-width: 535px) {
  .menu-hamburguesa-container {
    display: block;
    position: fixed;
    top: 10px;
    right: 470px;
    z-index: 1000;
    transform: translateY(70px);
  }
  
}
/* Pantallas de 350px a 360px */
@media (min-width: 535px) and (max-width: 550px) {
  .menu-hamburguesa-container {
    display: block;
    position: fixed;
    top: 10px;
    right: 490px;
    z-index: 1000;
    transform: translateY(70px);
  }
  
}

/* Pantallas de 350px a 360px */
@media (min-width: 551px) and (max-width: 570px) {
  .menu-hamburguesa-container {
    display: block;
    position: fixed;
    top: 10px;
    right: 500px;
    z-index: 1000;
    transform: translateY(70px);
  }
  
}

/* Pantallas de 350px a 360px */
@media (min-width: 570px) and (max-width: 600px) {
  .menu-hamburguesa-container {
    display: block;
    position: fixed;
    top: 10px;
    right: 530px;
    z-index: 1000;
    transform: translateY(70px);
  }
  
}
/* Pantallas de 350px a 360px */
@media (min-width: 601px) and (max-width: 650px) {
  .menu-hamburguesa-container {
    display: block;
    position: fixed;
    top: 10px;
    right: 560px;
    z-index: 1000;
    transform: translateY(70px);
  }
  
}
/* Pantallas de 350px a 360px */
@media (min-width: 651px) and (max-width: 700px) {
  .menu-hamburguesa-container {
    display: block;
    position: fixed;
    top: 10px;
    right: 610px;
    z-index: 1000;
    transform: translateY(70px);
  }
  
}

/* Pantallas de 500px o más: mostrar el filtro y ocultar el menú hamburguesa */
@media (min-width: 700px) and (max-width: 750px) {
  .menu-hamburguesa-container {
    display: none; /* Ocultar el menú hamburguesa */
  }

  .filtro-container {
  display: block; /* Mostrar el filtro */
  width: auto; /* Ajusta el ancho para ocupar su espacio natural */
  transform: none; /* Elimina transformaciones */
  margin-left: 0; /* Ajusta el margen según sea necesario */
  margin-top: 140px; /* Asegúrate de que el margen superior sea consistente */
  transform: translateX(-470px);
  }
}
/* Pantallas de 500px o más: mostrar el filtro y ocultar el menú hamburguesa */
@media (min-width: 751px) and (max-width: 767px) {
  .menu-hamburguesa-container {
    display: none; /* Ocultar el menú hamburguesa */
  }

  .filtro-container {
  display: block; /* Mostrar el filtro */
  width: auto; /* Ajusta el ancho para ocupar su espacio natural */
  transform: none; /* Elimina transformaciones */
  margin-left: 0; /* Ajusta el margen según sea necesario */
  margin-top: 140px; /* Asegúrate de que el margen superior sea consistente */
  transform: translateX(-520px);
  }
}
/* Pantallas de 500px o más: mostrar el filtro y ocultar el menú hamburguesa */
@media (min-width: 767px) and (max-width: 770px) {
  .menu-hamburguesa-container {
    display: none; /* Ocultar el menú hamburguesa */
  }

  .filtro-container {
  display: block; /* Mostrar el filtro */
  width: auto; /* Ajusta el ancho para ocupar su espacio natural */
  transform: none; /* Elimina transformaciones */
  margin-left: 0; /* Ajusta el margen según sea necesario */
  margin-top: 140px; /* Asegúrate de que el margen superior sea consistente */
  transform: translateX(-870px);
  }
}

@media (min-width: 770px) and (max-width: 825px) {
  .menu-hamburguesa-container {
    display: none; /* Ocultar el menú hamburguesa */
  }

  .filtro-container {
  display: block; /* Mostrar el filtro */
  width: auto; /* Ajusta el ancho para ocupar su espacio natural */
  transform: none; /* Elimina transformaciones */
  margin-left: 0; /* Ajusta el margen según sea necesario */
  margin-top: 140px; /* Asegúrate de que el margen superior sea consistente */
  transform: translateX(-870px);
  }
} 

/* Pantallas de 825px a 875px */
@media (min-width: 825px) and (max-width: 875px) {
  .menu-hamburguesa-container {
    display: none; /* Ocultar el menú hamburguesa */
  }

  .filtro-container {
  display: block; /* Mostrar el filtro */
  width: auto; /* Ajusta el ancho para ocupar su espacio natural */
  transform: none; /* Elimina transformaciones */
  margin-left: 0; /* Ajusta el margen según sea necesario */
  margin-top: 140px; /* Asegúrate de que el margen superior sea consistente */
  transform: translateX(-950px);
  }
} 

/* Pantallas de 875px a 925px */
@media (min-width: 875px) and (max-width: 925px) {
  .menu-hamburguesa-container {
    display: none; /* Ocultar el menú hamburguesa */
  }

  .filtro-container {
  display: block; /* Mostrar el filtro */
  width: auto; /* Ajusta el ancho para ocupar su espacio natural */
  transform: none; /* Elimina transformaciones */
  margin-left: 0; /* Ajusta el margen según sea necesario */
  margin-top: 140px; /* Asegúrate de que el margen superior sea consistente */
  transform: translateX(-1005px);
  }
} 

/* Pantallas de 925px a 990px */
@media (min-width: 925px) and (max-width: 990px) {
  .menu-hamburguesa-container {
    display: none; /* Ocultar el menú hamburguesa */
  }

  .filtro-container {
  display: block; /* Mostrar el filtro */
  width: auto; /* Ajusta el ancho para ocupar su espacio natural */
  transform: none; /* Elimina transformaciones */
  margin-left: 0; /* Ajusta el margen según sea necesario */
  margin-top: 140px; /* Asegúrate de que el margen superior sea consistente */
  transform: translateX(-1100px);
  }
} 
