/* Más de 2560px */
@media (min-width: 2560px) {
  .PantallaProductos {
    display: flex;
    margin-top: 5%;
    min-height: 140vh;
    height: 90vh;
    width: 100vw;
    margin-left: 0%;
    overflow-x: hidden;
  }
  .productos-container {
      width: calc(75% - 250px);
  }
  .product-card {
      width: calc(25% - 20px);
  }
  .header {
      padding: 15px 40px;
  }
}

/* De 1024px a 2560px */
@media (min-width: 1024px) and (max-width: 2560px) {
  .PantallaProductos {
    display: flex;
    margin-top: 5%;
    min-height: 140vh;
    height: 90vh;
    width: 100vw;
    margin-left: 10%;
    overflow-x: hidden;
  }

  
}

/* De 900px a 1024px */
@media (min-width: 900px) and (max-width: 1024px) {
  
  .PantallaProductos {
    display: flex;
    margin-top: 5%;
    min-height: 140vh;
    height: 90vh;
    width: 100vw;
    margin-left: 10% !important;
    overflow-x: hidden;
  }
  .search-container {
    display: flex;
    gap: 3px !important;
    color: #000000;
    margin-left: -7%;
  }
 

}

/* De 800px a 900px */
@media (min-width: 800px) and (max-width: 900px) {
  
  .PantallaProductos {
    display: flex;
    margin-top: 5%;
    min-height: 140vh;
    height: 90vh;
    width: 100vw;
    margin-left: 10% !important;
    overflow-x: hidden;
    margin-top: 20%;
  }
  .search-container {
    display: flex;
    gap: 3px !important;
    color: #000000;
    margin-left: -20%;
  }
}

/* De 768px a 800px */
@media (min-width: 768px) and (max-width: 800px) {
  .PantallaProductos {
    display: flex;
    margin-top: 5%;
    min-height: 140vh;
    height: 90vh;
    width: 100vw;
    margin-left: 25% !important;
    overflow-x: hidden;
  }
  .search-container {
    display: flex;
    gap: 3px !important;
    color: #000000;
    margin-left: -3%;
  }
 
  .product-card {
      width: calc(60% - 20px) !important;
      margin-left: 15%;
      margin-top: 20px;
  }
  .header {
      padding: 8px 15px;
  }

}

/* De 700px a 768px */
@media (min-width: 700px) and (max-width: 768px) {
  .PantallaProductos {
    display: flex;
    margin-top: 5%;
    min-height: 140vh;
    height: 90vh;
    width: 100vw;
    margin-left: 25% !important;
    overflow-x: hidden;
  }
  .search-container {
    display: flex;
    gap: 3px !important;
    color: #000000;
    margin-left: -15%;
  }
  .productos-header {
    
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: -80px !important;
}
  .product-card {
      width: calc(60% - 20px) !important;
      margin-left: 15%;
      margin-top: 20px;
  }
  .new-product-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}

