.modal-overlay2 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content2 {
  background: #15683b;
  padding: 2rem;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
}

.modal-content2 h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-group select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.date-info {
  margin: 1rem 0;
}

.info-text {
  color: #666;
  font-size: 0.9em;
  margin-top: 0.5rem;
}

.date-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.date-group {
  flex: 1;
}

.date-group input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.cancel-btn1, .download-btn {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.cancel-btn1 {
  background: #ff0000;
  border: 1px solid #ddd;
  color: white;
}

.download-btn {
  background: #44a726;
  color: white;
  border: none;
}
.error {
    border: 1px solid red !important;
  }
  
  .error-message {
    color: red;
    background-color: #f3cdcd;
    height: fit-content;
    font-size: 0.8em;
    margin-top: 5px;
    margin-left: -105%;
  }
  .required {
  border-color: #ff0000;
}

.download-btn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}