/* Media Queries */

@media (min-width: 2560px) {
  .categoria-container {
      max-width: 1200px;
      margin-top: 20%;
      margin-left: 20;
      margin-right: 10%;
      background-color: white;
    }
    .productos-grid{
      margin-top: 0%;
    }
  
    .filter {
      width: 250px;
      margin-top: 0%
    }
    
}
@media screen and (min-width: 1441px){
    .categoria-container {
        max-width: 1200px;
        margin-top: 20%;
        margin-left: 20;
        margin-right: 10%;
        background-color: white;
      }
      .productos-grid{
        margin-top: 0%;
      }
    
      .filter {
        width: 250px;
        margin-top: 0%
      }
    
}

@media screen and (min-width: 1024x) and (max-width: 1440px) {
  .categoria-container {
      max-width: 100%;
      margin-left: 20%;
      margin-right: 5%;
      margin-top: -55%;
      gap: 5px;
    }
  
    .productos-grid {
      max-width: 100%;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      gap: 5px;
    }
   
  
  
}
/* Tablets (768px - 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
    .categoria-container {
        background-color: white;
        width: 150%;
        margin-top: 30%;
        padding: 10px;
        margin-left: 45%;
      }
    
      .productos-grid {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        gap: 10px;
      }

    

}

/* Móvil (< 768px) */
@media screen and (max-width: 767px) {
    .categoria-container {
        padding: 10px;
        width: 60%;
        margin-top: 25% !important;
        margin-left: 35%;
      }
    
      .productos-grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 10px;
      }
    
      .producto-card {
        padding: 7px;
      }
    
      .producto-nombre {
        font-size: 14px;
      }
      
    
    
}

/* Ajustes de orientación para dispositivos móviles */
@media screen and (max-width: 767px) and (orientation: landscape) {
    .categoria-container {
        padding: 5px;
      }
    
      .productos-grid {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        gap: 5px;
      }
     
    
}


@media (min-width: 551px) and (max-width: 570px) {
  .menu-hamburguesa-container {
    display: block;
    position: fixed;
    top: 10px;
    right: 500px;
    z-index: 1000;
    transform: translateY(70px);
  }
  
}

@media (min-width: 570px) and (max-width: 600px) {
  .menu-hamburguesa-container {
    display: block;
    position: fixed;
    top: 10px;
    right: 530px;
    z-index: 1000;
    transform: translateY(70px);
  }
  
}
/* Pantallas de 350px a 360px */
@media (min-width: 601px) and (max-width: 650px) {
  .menu-hamburguesa-container {
    display: block;
    position: fixed;
    top: 10px;
    right: 560px;
    z-index: 1000;
    transform: translateY(70px);
  }
  
}

@media (min-width: 499px) and (max-width: 599px) {
  .categoria-container{
    margin-top: 30% !important;
    margin-left: 25%;
  }
  .categoria-container h1{
    margin-bottom: 12%;
  }
  
}
@media (min-width: 391px) and (max-width: 498px) {
  .categoria-container{
    margin-top: 30% !important;
    margin-left: 25%;
  }
  .categoria-container h1{
    margin-bottom: 19%;
  }
  
}
@media screen and (max-width: 390px) {
    .categoria-container {
      margin-top: 30% !important;  
      padding: 5px;
      margin-left: 20%;
      }
    
      .productos-grid {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        margin-top: 55%;
        gap: 5px;
      }
    
      .producto-card {
        padding: 5px;
      }
    
      .producto-nombre {
        font-size: 10px;
      }
    
}

@media screen and (max-width: 768px) {
   .modal-product {
      flex-direction: column;
   }

   .modal-content {
      width: 95%;
      max-height: 90vh;
   }

   .modal-images {
      justify-content: center;
   }

   .modal-image {
      width: 150px;
      height: 150px;
   }
   .filtro-container16 {
    margin-bottom: 150px;
  }
}