.modal-overlay7 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.411);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999 !important;
}

.modal-content7 {
    background-color: #15683b;
    padding: 30px;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    max-height: 100vh;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 0%;
    z-index: 5000 !important;

}
.forms-container7{
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 15px;
        max-height: 75vh;
        overflow-y: auto !important;
        scrollbar-width: thin;
}

.form-group7 {
    margin-bottom: 20px;
    height: 50%;
    overflow-y: auto;
    scrollbar-width: thin;
}

.form-group7 label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #888787;
}

.form-group7 input,
.form-group7 textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.form-group7 textarea {
    min-height: 100px;
    resize: vertical;
}
.form-group7 input::placeholder {
    color: #999;
    font-style: italic;
    font-size: 14px;
}

.form-group7 textarea{
    background-color: white;
}
.current-image {
    margin: 10px 0;
    text-align: center;
}

.product-image-preview {
    max-width: 200px;
    max-height: 200px;
    object-fit: contain;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.modal-buttons7 {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

.save-button7,
.cancel-button7 {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.save-button7 {
    background-color: #1dd056;
    color: white;
}

.save-button7:hover {
    background-color: #19b94c;
}

.cancel-button7 {
    background-color: #ff4d4d;
    color: white;
}

.cancel-button7:hover {
    background-color: #ff3333;
}

h2 {
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 1.5em;
}

.image-preview-container {
    width: 200px;
    height: 200px;
    margin: 0 auto 20px;
    border: 2px dashed #ccc;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.product-image-preview {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}