.barra-lateral-admin {
    background-color: #15683b;
    color: #fff;
    height: 100%;
    width: 190px;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    margin-left: 0%;
    align-items: flex-start;
    font-family:  Comfortaa, Georgia, 'Times New Roman', Times, serif;;
    z-index: 1010;
  }
  
  .barra-lateral-logo {
    margin-top: 1%
    
  }
  .barra-lateral-logo img {
    width: 80%;
    margin-bottom: 20px;
  }
  
  .barra-lateral-nav ul {
    list-style: none;
    padding: 0;
    width: 100%;
  }
  
  .barra-lateral-nav li {
    margin: 20px 0;
  }
  
  .barra-lateral-nav a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    display: block;
    padding: 10px 15px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  
  .barra-lateral-nav a:hover {
    background-color: #2c3e50;
  }
  .logout-button {
    width: 100%;
    padding: 10px;
    text-align: left;
    background: none;
    border: none;
    color: #ff4444;
    cursor: pointer;
    font-size: 16px;
  }
  
  .logout-button:hover {
    background-color: rgba(255, 68, 68, 0.1);
  }